.nav-bar {
    background-color: rgb(107, 107, 243);
    text-align: center;
}

.nav-bar i {
    font-size: 35px;
    color: white;
}

.nav-bar .e {
    font-size: 30px;
}

.nav-bar .recpt {
    font-size: 30px;
    font-weight: 600;
    color: rgb(7, 7, 7);
}

h1 {
    text-align: center;
    background-color: rgb(51, 119, 182);
}

thead {
    text-align: center;
}

.div2 {
    display: flex;
    height: 39px;
    align-items: center;
    margin-top: 12px;
    margin-right: 5px;
}

.far {
    font-size: 25px;
    padding: 5px;
    width: 50%;
    text-align: center;
}
.fa-trash-alt{
    color: red;
}
.fa-edit{
    color: blue;
}

td {
    padding-left: 30px;
    padding-right: 30px;
}

.div3 {
    height: 60vh;
}

.div4 {
    background-color: #f4f4f4;
    padding: 20px;
}

.div5 {
    float: right;
}

.g-total {
    width: 200px;
    background-color: white;
    height: 30px;
}

.div6 {
    float: right;
    clear: both;
    display: flex;
}